<?xml version="1.0"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>dvfu-tapestry4 view</display-name>
  <servlet>
    <servlet-name>app</servlet-name>
    <servlet-class>
      org.apache.tapestry.ApplicationServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>app</servlet-name>
    <url-pattern>/app</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>app</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>app</servlet-name>
    <url-pattern>*.external</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>app</servlet-name>
    <url-pattern>*.direct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>app</servlet-name>
    <url-pattern>*.sdirect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>app</servlet-name>
    <url-pattern>/assets/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>app</servlet-name>
    <url-pattern>/users/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>app</servlet-name>
    <url-pattern>*.svc</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
    <welcome-file>app</welcome-file>
  </welcome-file-list>
</web-app>